baseURL: https://cguertin.dev/
languageCode: en-ca
title: "[cguertin@sre:~]$"
theme: blowfish
defaultContentLanguage: en

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
summaryLength: 15

pagination:
  pagerSize: 5

minify:
  disableXML: true
  minifyOutput: true

taxonomies:
  tag: tags
  category: categories
  author: authors
  series: series

outputs:
  home:
    - HTML
    - RSS
    - JSON

markup:
  goldmark:
    renderer:
      unsafe: true

languages:
  en:
    languageName: "English"
    languageCode: en-ca
    weight: 1
    title: "[cguertin@sre:~]$"
    params:
      displayName: "EN"
      isoCode: en
      rtl: false
      dateFormat: "January 2, 2006"
      logo: "/favicon.png"
      description: "cguertin.dev - Personal website and blog"
      author:
        name: Charles Guertin
        email: charlesguertin@live.ca
        headline: "Welcome to my personal website!\n\nSocials :arrow_down:"
        bio: "I write about stuff I'm currently learning and experiencing."
        links:
          - github: "https://github.com/cguertin14"
          - bluesky: "https://bsky.app/profile/cguertin.dev"
          - linkedin: "https://www.linkedin.com/in/charles-guertin-495b6520/"
          - email: "mailto:charlesguertin@live.ca"

params:
  colorScheme: blowfish
  defaultAppearance: auto
  autoSwitchAppearance: true

  enableSearch: true
  enableCodeCopy: true
  enableStructuredBreadcrumbs: true
  
  mainSections:
    - posts

  defaultBackgroundImage: "/img/background.jpeg"
  
  highlightCurrentMenuArea: true
  smartTOC: true
  smartTOCHideUnfocusedChildren: false

  fingerprintAlgorithm: sha256

  favicon: "/favicon.png"

  header:
    layout: basic

  footer:
    showMenu: true
    showCopyright: true
    showThemeAttribution: true
    showAppearanceSwitcher: true
    showScrollToTop: true

  homepage:
    layout: custom
    showRecent: true
    showRecentItems: 5
    showMoreLink: true
    showMoreLinkDest: posts
    cardView: true
    cardViewScreenWidth: false

  article:
    layout: background
    showDate: true
    showViews: false
    showLikes: false
    showDateOnlyInArticle: false
    showDateUpdated: false
    showAuthor: true
    showHero: false
    heroStyle: thumbAndBackground
    layoutBackgroundBlur: true
    layoutBackgroundHeaderSpace: true
    showBreadcrumbs: true
    showDraftLabel: true
    showEdit: false
    editURL: "https://github.com/cguertin14/cguertin.dev/tree/main/src/content"
    editAppendPath: true
    seriesOpened: false
    showHeadingAnchors: true
    showPagination: true
    invertPagination: false
    showReadingTime: true
    showTableOfContents: true
    showRelatedContent: true
    relatedContentLimit: 6
    showTaxonomies: true
    showAuthorsBadges: false
    showWordCount: true
    sharingLinks:
      - linkedin
      - bluesky
      - reddit
      - email
    showZenMode: true

  list:
    showHero: false
    showBreadcrumbs: true
    showSummary: false
    showViews: false
    showLikes: false
    showTableOfContents: false
    showCards: true
    orderByWeight: false
    groupByYear: true
    cardView: true
    cardViewScreenWidth: false
    constrainItemsWidth: false

  sitemap:
    excludedKinds: []

  taxonomy:
    showTermCount: true
    showHero: false
    heroStyle: background
    showBreadcrumbs: true
    showViews: false
    showLikes: false
    showTableOfContents: false
    cardView: true

  term:
    showHero: false
    heroStyle: background
    showBreadcrumbs: true
    showViews: false
    showLikes: false
    showTableOfContents: false
    groupByYear: true
    cardView: true
    cardViewScreenWidth: false

menus:
  main:
    - name: ~/about
      pageRef: about
      weight: 5
    - name: ~/posts
      pageRef: posts
      weight: 10
    - name: ~/categories
      pageRef: categories
      weight: 40
    - identifier: github
      pre: github
      url: "https://github.com/cguertin14"
      weight: 100

  footer:
    - name: Tags
      pageRef: tags
      weight: 10
    - name: Categories
      pageRef: categories
      weight: 20

privacy:
  vimeo:
    disabled: false
    simple: true
  x:
    disabled: false
    enableDNT: true
    simple: true
  instagram:
    disabled: false
    simple: true
  youtube:
    disabled: false
    privacyEnhanced: true

services:
  instagram:
    disableInlineCSS: true
  x:
    disableInlineCSS: true
